---
import { Image } from "astro:assets";

import Python from "./icons/Python.astro";
import Css from "./icons/CSS1.astro"
import Flask from "./icons/Flask.astro"
import Html from "./icons/Html.astro"
import Mysql from "./icons/Mysql.astro"
import SocialPill from '../components/SocialPill.astro';
import Linkedin from '../components/icons/Linkedin.astro';

const TAGS = {
    PYTHON:{
        name: "Python",
        class: "bg-[#003159] text-white",
        icon: Python
    },
    CSS:{
        name:"CSS",
        class:"bg-[#003159] text-white",
        icon: Css,
    },
    FLASK:{
        name:"Flask",
        class:"bg-[#003159] text-white",
        icon: Flask,
    },
    HTML:{
        name:"Html",
        class:"bg-[#003159] text-white",
        icon: Html,
    },
    MYSQL:{
        name:"MySql",
        class:"bg-[#003159] text-white",
        icon: Mysql,
    },

};

const PROJECTS = [
    {
        title: "Mars",
        description: "Red social con registro de usuarios y publicaciones",
        link: "https://github.com/mesocrisetus",
        github: "https://github.com/mesocrisetus/MARS",
        image: "/projects/mars.png",
        tags: [TAGS.PYTHON, TAGS.CSS,TAGS.FLASK,TAGS.HTML,TAGS.MYSQL],
    },
    {
        title: "Uconverter",
        description: "Descarga tus videos y música favorita de youtube",
        link: "https://github.com/mesocrisetus",
        github: "https://github.com/mesocrisetus/Uconverter",
        image: "/projects/Uconverter.png",
        tags: [TAGS.PYTHON, TAGS.CSS],
    },
    {
        title: "Background Remover",
        description: "Una APP creada en python para remover el fondo de las imagenes",
        link: "https://github.com/mesocrisetus",
        github: "https://github.com/mesocrisetus/Background_Remover",
        image: "/projects/bckr.png",
        tags: [TAGS.PYTHON, TAGS.CSS],
    },
];
---

{
    PROJECTS.map(({ image, title, description, tags, github }) => (
        <article class="mb-10">
            
            <h3 class="text-2xl font-semibold  text-yellow-200 mb-2">
                {title} 				
            </h3>            
            <p class="text-lg mb-4 text-pretty">{description}</p>
            <ul class="flex gap-x-2 flex-row mb-2">
                {tags.map((tag) => (
                    <li>
                        <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                            <tag.icon  class="size-4"/>      
                            {tag.name}
                        
                        </span>                  
                        
                    </li>
                ))}
            </ul>
            <a href={github} target="_blank" rel="noopener noreferrer">
            <img
                class="rounded shadow-2xl shadow-white/15 hover:scale-110 hover:bg-white/10 transition"
                src={image}
                alt={`Captura de pantalla del proyecto ${image}`}
            />
            </a>
        </article>
    ))
}
